<form [formGroup]="loginForm" class="card componentStyle">

    <div class="form-group mb-3">
        <label for="txtName">User Name</label>
        <input formControlName="userName" type="text" id="txtName" class="form-control">
        <div *ngIf="usernamee.touched && usernamee.invalid">

            <div class="alert alert-danger" *ngIf="usernamee.errors.required">
                Username is Mandatory
            </div>
            <div class="alert alert-danger" *ngIf="usernamee.errors.minlength">
                Username Should contain atleast 8 chars

            </div>
            <div class="alert alert-danger" *ngIf="usernamee.errors.withoutSpaces">

                No Spaces were allowed
            </div>

        </div>
    </div>
    <div class="form-group mb-3">
        <label for="txtPassword">Password</label>
        <input formControlName="password" type="password" id="txtPassword" class="form-control">
        <div *ngIf="passwordd.touched && passwordd.invalid">
            <div class="alert alert-danger" *ngIf="passwordd.errors.required">
                Password is Mandatory
            </div>
            <div class="alert alert-danger" *ngIf="passwordd.errors.pattern">
                Use 8 or more characters with a mix of letters, numbers & symbols
            </div>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <button class="btn btn-primary">Login</button>
    </div>
</form>