<div style="text-align: center;color: darkcyan;font-size: xx-large;">{{title}}</div>
<hr style="width:300px;color:darkmagenta; height:3px;margin:auto;">
<h3 class="text-center">Reactive Forms</h3>
<table style="margin:auto;width:1200px">
    <!-- [class.active]="viewMode=='account'"(click)="changeViewMode('account')" -->
    <tr>
        <td>
            <ul>
                <li>
                    <a routerLinkActive="active" routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/account">Account</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/binding">Binding</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/employee">Employee</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/signup">SignUp</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/yearday">Year-day</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/post">Post</a>
                </li>
            </ul>
        </td>
    </tr>

</table>

<router-outlet></router-outlet>


<!-- <app-parent></app-parent> -->

<!-- <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'account'" class="card componentStyle">
        <app-account></app-account>
    </div>
    <div *ngSwitchCase="'binding'"  class="card componentStyle">
        <app-binding></app-binding>     
    </div>
    <div *ngSwitchCase="'employee'"  class="card componentStyle">
         <app-employee></app-employee>
    </div>
    <div *ngSwitchCase="'contact'" class="card componentStyle">
            <app-contact></app-contact>
    </div>
</div> -->
<!-- <user></user> -->


<!-- <app-test></app-test>  -->
<!-- <app-year-day></app-year-day> -->
<!-- <app-account></app-account> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-binding></app-binding> -->

<!-- <app-employee></app-employee> -->