
<div  class="card componentStyle">
<table>

    <h1>CREATE ACCOUNT</h1>
    <tr>
        <td>
    <input type="text"   placeholder="Name">
        </td>
    </tr>
    <tr>
        <td>
    <input type="text" placeholder="Your Email">
        </td>
    </tr>
    <tr>
        <td>
    <input type="text" placeholder="Password">
        </td>
    </tr>
    <tr>
        <td>
    <input type="text" placeholder="Repeat Your Password">
        </td>
    </tr>
    <tr>
        <td>
    <input type="checkbox" placeholder="Repeat Your Password">
        </td>
    </tr>
<input type="button" class="btn btn-secondary" placeholder="Repeat Your Password">

</table>
</div>

